<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <div class="main card-cols-lg-4 card-cols-md-3 card-cols-sm-2">
        <%for(let res of result){%>
            <a href="/listings/<%=res._id%>" class="card-effect">
                <div class="card" style="width: 18rem;">
                    <div class="card-img-overlay"></div>
                    <img src="<%=res.image["url"]%>" class="card-img-top" alt="..." style="height: 18rem">
                    <div class="card-body">
                    <span class="card-title"><%=res.title%></span>
                    <br>
                    <span class="card-text">&#x20B9; <%=res.price.toLocaleString("en-IN")%>/night</span>
                    </div>
                </div>
            </a>
        <%}%>
    </div>
</body>
