<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-6 offset-3 mt-3">
            <h3 style="text-decoration: underline;" class="mb-3">Create Listing</h3>
        <form action="/listings" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="listing[title]" placeholder="title" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    pls enter title!
                </div>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <textarea name="listing[description]" id="desc" placeholder="write description here..." class="form-control" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    pls enter description!
                </div>
            </div>
            <div class="mb-3">
                <label for="img" class="form-label">Image</label>
                <input type="url" id="img" name="listing[image][url]" placeholder="url" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4" >
                    <label for="price" class="form-label">Price</label>
                    <input type="text" id="price" name="listing[price]" placeholder="price" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        pls enter price!
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="listing[location]" placeholder="location" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        pls enter location!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" id="country" name="listing[country]" placeholder="country" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    pls enter country!
                </div>
            </div>
            <br>
            <button class="btn btn-dark create">Create</button>
        </form>
        <br>
    </div>
    </div>
</body>